li {
  list-style-type: none;
  padding-left: 0px;
}
.password-items-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border: #94a3b8 2px solid;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #10b981;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  margin-right: 10px;
}
.profile-content {
  margin-right: 10px;
}
.name-styles {
  font-size: 18px;
  color: #ffffff;
  margin: 10px;
}
.stars-styles {
  width: 130px;
  margin-left: 10px;
}
.delete-container {
  background-color: transparent;
  border: 0px;
}
.delete-btn {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  outline: none;
}
.delete-img {
  height: 22px;
}
